@model IEnumerable<Bangazon.Models.ProfileViewModels.ProfileIndexViewModel>

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>

<a asp-area="" asp-controller="PaymentTypes" asp-action="Create"  class="btn-success">Add Payment Option</a>


